.flex-item6 {
  width: 100%;
  height: 300px;
 /*background-color: blue;*/
  margin-top: 70px;
  overflow: hidden;
  position: relative;
}

.animation-container {
  width: 75%;
  height: 30rem;
  margin:auto;
}

@keyframes topFadeOut {
  0% {
    position: absolute;
    top: 10rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    top: 25%;
    opacity: 2;
  }

  100% {
    opacity: 0;
  }
}

.first-text {
    width: 900px;
    font-size: 2.0rem;
    position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
       text-align: center;
       text-shadow: 2px 2px 7px darkslategray;
       /*top: 5rem;*/
       font-weight: 500;
    top: 38%;
    opacity: 100;
    animation-name: topFadeOut;
    animation-duration: 5s;
    color: black;
}








